extends layout



block content 

	//-! Change this code in order to adjust the inputs to executable command in executables view page - you will also need to change set_executable_call() in executables.js
	form(action='/executables' enctype='application/x-www-form-urlencoded' method='POST', onsubmit = "return checkErr2()" )
		input(type='text', name='executableFile1', id="executables1", placeholder='Name of first input file', required)
		br
		input(type='text', name='executableFile2', id="executables2", placeholder='Name of second input file', required)
		br
		input.form-control(type='mode', name='mode', id='mode', placeholder='modes (i, h, or g)', autofocus, autocomplete='i', required)
		p#modeErr.errorMessage Operation must be i, h or g
		br
		input.form-control(type='text', name='output', id='output', placeholder='Name of output directory to send all files (optional)', autofocus, value = "")
		br
		input(type='submit' id="upload2" value='Submit')
		br
		br  

	form(action='/send' enctype='')

	script.
		var executables1 = document.getElementById("executables1");
		var executables2 = document.getElementById("executables2");
		var mode = document.getElementById("mode");
		var output = document.getElementById("output")

		function checkErr2(){

			let clear = true;

			document.getElementById("modeErr").style.display = "none";

			if(mode.value != "i" && mode.value != "h" && mode.value != "g"){
				document.getElementById("modeErr").innerHTML = "Input must be i, h, or g";
				document.getElementById("modeErr").style.display = "inline-block";
				clear = false;
			}
			return clear;
		}
