extends layout

block content 
	//- form(action='/executables' enctype='multipart/form-data' method='POST' onsubmit="return checkErr2()")
	//- 	p.inputErr#err2 Input must be a .SURF or .pdb file
	//- 	br
	//- 	input(type='text' name='executableFile1' id="executables1" )
	//- 	br
	//- 	//- input(type='file' name='executableFile2' id="executables2")
	//- 	//- br
	//- 	//- input.form-control(type='text', name='output', id='output', placeholder='name of output file', autofocus, autocomplete='output.SURF')
	//- 	//- br
	//- 	//- input.form-control(type='operation', name='operation', id='operation', placeholder='operation (I, U, or D)', autofocus, autocomplete='I')
	//- 	//- p#opErr.errorMessage Operation must be I, U, or D
	//- 	//- br
	//- 	//- input.form-control(type='resolution', name='resolution', id='resolution', placeholder='resolution (ex: 0.5)', autofocus, autocomplete='0.5')
	//- 	//- p#resErr.errorMessage Resolution must be between 0.25 and 2
	//- 	//- br
	//- 	input(type='submit' id="upload2" value='Run Vasp with Files' class='uploads')
	//- 	br
	//- 	br  
	form(action='/executables' enctype='application/x-www-form-urlencoded' method='POST')
		input(type='text' name='executableFile' id="executables" value='' )
		br
		//- input(type='file' name='executableFile2' id="executables2")
		//- br
		//- input.form-control(type='text', name='output', id='output', placeholder='name of output file', autofocus, autocomplete='output.SURF')
		//- br
		input.form-control(type='mode', name='mode', id='mode', placeholder='modes (i, h, or g)', autofocus, autocomplete='i')
		p#opErr.errorMessage Operation must be i, h or g
		br
		//- input.form-control(type='resolution', name='resolution', id='resolution', placeholder='resolution (ex: 0.5)', autofocus, autocomplete='0.5')
		//- p#resErr.errorMessage Resolution must be between 0.25 and 2
		//- br
		input(type='submit' id="upload2" value='Submit')
		br
		br  

	form(action='/send' enctype='')

	//- script.
	//- 	var executables1 = document.getElementById("executables1");
	//- 	var executables2 = document.getElementById("executables2");
	//- 	var operation = document.getElementById("operation");
	//- 	var resolution = document.getElementById("resolution");

	//- 	function checkErr2(){

	//- 	let clear = true;

	//- 	document.getElementById("err2").style.display = "none";
	//- 	document.getElementById("opErr").style.display = "none";
	//- 	document.getElementById("resErr").style.display = "none";

	//- 	if(executables1.value == '' || executables2.value == ''){
	//- 		document.getElementById("err2").innerHTML = "Please upload your files";
	//- 		document.getElementById("err2").style.display = "inline-block";
	//- 		clear = false;
	//- 	}

	//- 	else if(executables1.value.split(".").pop() != 'SURF' && executables1.value.split(".").pop() != 'pdb'){
	//- 		document.getElementById("err2").innerHTML = "Input must be a .SURF or .pdb file";
	//- 		document.getElementById("err2").style.display = "inline-block";
	//- 		clear = false;
	//- 	}

	//- 	else if(executables2.value.split(".").pop() != 'SURF' && executables2.value.split(".").pop() != 'pdb'){
	//- 		document.getElementById("err2").innerHTML = "Input must be a .SURF or .pdb file";
	//- 		document.getElementById("err2").style.display = "inline-block";
	//- 		clear = false;
	//- 	}

	//- 	if(operation.value != "I" && operation.value != "U" && operation.value != "D"){
	//- 		document.getElementById("opErr").style.display = "inline-block";
	//- 		clear = false;
	//- 	}
	//- 	if(isNaN(resolution.value)){
	//- 		document.getElementById("resErr").innerHTML = "Resolution must be a number";
	//- 		document.getElementById("resErr").style.display = "inline-block";
	//- 		clear = false;
	//- 	}
	//- 	else if(resolution.value < 0.25 || resolution.value > 2){
	//- 		document.getElementById("resErr").innerHTML = "Resolution must be between 0.25 and 2";
	//- 		document.getElementById("resErr").style.display = "inline-block";
	//- 		clear = false;
	//- 	}
	//- 	return clear;
	//- 	}
