//- #######################################################
//- Main html file for overall website layout
//- #######################################################

doctype html
html
  head
    title= title
    link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.1/semantic.min.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='shortcut icon', href='#')
    

  body
    #header
      p Visualization Testing
    #navbar
      a(href='/') Visualization
      a(href='/documentation/docs/index.html') Documentation
      a(href='/upload') Upload
      a(href='/drop') Drop
      a(href='/test') Test
      a(href='/executables') Executables
    
    div(data-files=data id = "fileData" )
    block content

      
    