extends layout 


block content
	link(rel="stylesheet" type="text/css" href="/tree-styles/smart.default.css")

	script(defer src="/javascripts/3Dmol-min.js")
	script(defer src="/javascripts/webgl-utils.js")
	script(defer src="/javascripts/ngl.js")
	script(defer src="/javascripts/fileformat-utils.js")
	script(defer src="/javascripts/pdb-utils.js")
	script(defer src="/javascripts/surf-utils.js")
	script(defer src="/javascripts/tree-utils.js")
	script(defer src='/javascripts/main.js')
	script(defer src='/javascripts/hbond-utils.js')

	script(defer src="/tree-scripts/smart.menu.js")
	script(defer src="/tree-scripts/smart.tree.js")

	div(id="viewport" class="viewport-container")

	smart-tree(id="file-tree" selection-mode="checkBox" show-lines toggle-mode="click" expand-mode="multiple")
		smart-tree-items-group(id="PDB" expanded) PDB
		smart-tree-items-group(id="SURF" expanded) SURF