extends layout



block content 

	//-! Change this code in order to adjust the inputs to executable command in executables view page - you will also need to change set_executable_call() in executables.js
	form(action='/executables' enctype='application/x-www-form-urlencoded' method='POST', onsubmit = "return checkErr()" )
		input(type='text', name='executableFile1', id="executables1", placeholder='1st input, ex."1BRS/1brs.pdb', autocomplete = "1BRS/1brs.pdb", required)
		br
		input(type='text', name='executableFile2', id="executables2", placeholder='2nd input, ex."1BRS/1brs.pdb', autocomplete = "1BRS/1brs.pdb", required)
		br
		input.form-control(type='mode', name='mode', id='mode', placeholder='modes (i)', autofocus, autocomplete='i', required)
		p#modeErr.errorMessage Operation must be i Further operations can be added.
		br
		input.form-control(type='text', name='output', id='output', placeholder='Name of output directory to send all files (optional)', autofocus, value = "")
		br
		input(type='submit' id="upload2" value='Submit')
		br
		br  

	form(action='/send' enctype='')

	script.
		var executables1 = document.getElementById("executables1");
		var executables2 = document.getElementById("executables2");
		var mode = document.getElementById("mode");
		var output = document.getElementById("output")

		function checkErr(){

			let clear = true;

			document.getElementById("modeErr").style.display = "none";

			//- if(mode.value != "i" && mode.value != "h" && mode.value != "g"){
			if(mode.value != "i" or mode.value != "c" or mode.value != "h"){
				document.getElementById("modeErr").innerHTML = "Input must be i. Further operations can be added.";
				document.getElementById("modeErr").style.display = "inline-block";
				clear = false;
			}
			return clear;
		}
