//- #######################################################
//- Main html file for overall website layout
//- #######################################################

doctype html
html
	head
		title= title
		link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.1/semantic.min.css')
		link(rel='stylesheet', href='stylesheets/style.css')
		link(rel='shortcut icon', href='#')
		link(rel="stylesheet" type="text/css" href="/tree-styles/smart.default.css")
		
		//- Main script
		script(src='/javascripts/main.js')

		//- 3rd party libs
		script(src="/javascripts/lib/3Dmol-min.js")
		script(src="/javascripts/lib/webgl-utils.js")
		script(src="/javascripts/lib/ngl.js")

		//- Utils
		script(src="/javascripts/utils/file-handler.js")
		script(src="/javascripts/utils/pdb-utils.js")
		script(src="/javascripts/utils/surf-utils.js")
		script(src="/javascripts/utils/tree-utils.js")
		script(src='/javascripts/utils/hbond-utils.js')
		script(src='/javascripts/utils/gml-utils.js')
		script(src='/javascripts/utils/JSON-handler.js')
		
		//- UI components
		script(src='/javascripts/components/file-tree-class.js')
		script(src='/javascripts/components/file-tree-class.js')

		//- Tree libs
		script(src="/tree-scripts/smart.menu.js")
		script(src="/tree-scripts/smart.tree.js")
		

	body
		#header
			a(href='/') Visualization Testing
		#navbar
			a(href='/') Visualization
			a(href='/documentation/docs/index.html') Documentation
			a(href='/uploads') Upload
			//- a(href='/drop') Drop
			div.dropdown
				//- Dropdown trigger button
				button.dropdown-button Executables
				//- Dropdown content
				div.dropdown-content
					a(href="/executables")  Executables 1
					a(href="/executables")  Executables 2
					a(href="/executables")  Executables 3
			

		//- #user-registration
		//- 	form(method="POST", action="/users")
		//- 		input(type="text", name="username", placeholder="Enter your username")
		//- 		button(type="submit") Submit


		div(data-files=data id = "fileData" )
		block content